main{
    width: 100%;
}

.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 90vh;
}


h3{
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}

#login-form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#login-form input{
    width: 500px;
    padding-left: 10px;
    height: 50px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-family: 'Swanston';
}

#login-form button{
    width: 510px;
    height: 50px;
    border: none;
    border-radius: 5px;
}

#login-btn{
    background-color: #F5A020;
    font-size: 25px;
    color: #151515;
    transition: all 0.15s ease-in-out;
}

#change-reg-btn{
    background-color: #303030;
    color: white;
    font-size: 30px;
    transition: all 0.15s ease-in-out;
}

#login-btn:hover{
    transform: scale(1.05);
    box-shadow: 0 0 5px #F5A020;
}

#change-reg-btn:hover{
    transform: scale(1.05);
}