header{
    margin-top: 5vh;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    border: none;
    padding-bottom: 40px;
}

header > .container_filters{
    display: flex;  
    flex-direction: column;
    justify-content:   space-around;
    background-color: #252525;
    padding: 10px 25% 10px 25%;
    border-radius: 20px;
}

header > .container_filters > ul{
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: space-around;
}

header > .container_filters > ul >li h2{
    user-select: none;
    font-size: 30px;
}

header > .container_filters > ul >li h2:hover{
    text-shadow: 0 0 2px #FF7020;
    color: #FF7020;
}

header a{ 
    text-decoration: none;
    color: #FFF;
}

header > .container_filters_down{
    display: flex;
    justify-content: center;
    padding: 10px 50px 10px 50px;
    background-color: #252525;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

header > .container_filters_down > ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 40px;
}
header > .container_filters_down > ul > li{
    user-select: none;
    font-size: 15px;
    color: #AAA;
    transition: all 0.15s ease-in-out;
}

header > .container_filters_down > ul > li:hover{
    color: #FF7020;
}
main{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.catalog-list{
    margin: 20px 0 20px 0;
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.catalog{
    width: inherit;
    gap: 50px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.product-card{
    width: 450px;
    height: 480px;
    overflow: visible;
}

.product-card:hover{
    background-color: transparent;
}

.product-card a{
    text-decoration: none;
    color: #FFF;
}

.container-card{
    transition: all 0.2s ease-in-out;
    width:  450px;
    height: 480px;
    padding-bottom: 20px;
    background-color: #252525;
    border-radius: 40px;
    transition: all 0.2s ease-in-out;
}

.product-card:hover .container-card{
    transform: scale(1.05);
    box-shadow: 3px 5px 5px #101010;
    border: 1px solid #FFF;
    position: absolute;
    height: 870px;
}

.head_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.head_container img{
    width: 250px;
    height: 250px;
    transition: all 0.2s ease-in;
}

.head_container h3{
    font-size: 40px;
}

.main_container{
    height: 900;
    width: 100%;
}

.main_container button{
    width: 300px;
    height: 60px;
    border-radius: 10px;
    border: none;
    background-color: #FFA246;
    font-size: 26px;
    margin: 10px 75px;
    transition: all 0.1s ease-in-out;
}

.main_container button:hover{
    box-shadow: 0 0 5px #FFA246;
}

.attributes{
    position: absolute;
    display: flex;
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease-in-out;
    z-index: 10;
}

.product-card:hover .attributes{
    position: relative;
    opacity: 1;
    visibility: visible;
}
.attribute{
    gap: 20px;
    border-top: solid 1px #FFF;
    padding: 5px 0 5px 20px;

}

.attr_name{
    color: #CDCDCD;
    font-size: 20px;
    user-select: none;
}

.attr{
    color: #FFF;
    font-size: 30px;
}

.page_list{
    margin: 100px 0 10px 0;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.page_list button{
    width: 40px;
    height: 40px;
    background-color: #454545;
    border: none;
    border-radius: 50px;
    color: #FFF;
    font-size: 20px;
    transition: all 0.15s ease-in-out;
}

.page_list button:hover{
    transform: scale(1.1);
    color: #FF7020;
}

.page_list .current{
    color: #555;
}
