.notfound{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.notfound > h1{
    font-size: 150px;
    text-shadow: 0 0 10px #FFF;
    font-family: 'Swanston', sans-serif;
}

.notfound > h2{
    font-size: 50px;
    text-shadow: 0 0 5px #FFF;
    font-family: 'Swanston', sans-serif;
}