*{
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'AmazObitaemOstrovFine';
  src: url('../fonts/AmazObitaemOstrovFine/amazobitaemostrovfine.ttf') format('truetype');
}

@font-face {
  font-family: 'Swanston';
  src: url('../fonts/Swanston/Swanston.ttf') format('truetype');
}

@font-face {
  font-family: 'Swanston-Bold';
  src: url('../fonts/Swanston/Swanston-Bold.ttf') format('truetype');
}



body, html {
  background-color: #151515;
  color: #FFF;
  font-family: 'Swanston', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, button{
  font-family: 'AmazObitaemOstrovFine','Swanston', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img{
  pointer-events: none;
  user-select: none;
}

ul{
  list-style: none;
}